@import 'colors';

a {
    text-decoration: none;
}

.content {
    color: $text-color;
    display: flex;
    justify-content: center;
    width: 100%;
    height: 100%;
    font-family: "Trebuchet MS", Helvetica, sans-serif;
    text-align: center;

    &__selection-box {
        position: absolute;
        width: 60%;
        margin-top: 100px;
        padding-bottom: 20px;
        justify-content: center;
        display: flex;
        flex-wrap: wrap;

        &__select {
            background-color: $text-color;
            color: $btn-color;
            margin: 10px 20px 10px 20px;
            border-radius: 25px;
            height: 400px;
            width: 250px;
            line-height: 380px;
            font-size: 40px;
            cursor: pointer;
        }
    }
}