.gameboard {
    @mixin card-row {
        display: flex;
        justify-content: center;
        height: 215px;
    }

    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-top: -15px;

    &__playground {
        width: 130px;
        margin-left: 50px;
    }

    &__cardRowOpponentCards {
        @include card-row;
    }

    &__cardRowPlayground {
        @include card-row;
    }

    &__cardRowPlayerCards {
        @include card-row;
    }

    &__deck {
        position: absolute;
        right: 0px;
    }
}
