.gameboard {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-top: -15px;

    &__playground {
        width: 130px;
    }

    &__cardRow {
        display: flex;
        justify-content: center;
        height: 215px;
    }

    &__deck {
        position: absolute;
        right: 0px;
    }
}
