.gameboard {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;

    &__talon {
        width: 130px;
        margin-left: 385px;
    }

    &__cardbox {
        justify-content: center;
        display: flex;
        flex: 1;
        margin-bottom: 10px;

        .card-edge {
            background-color: white;
            padding: 8px;
            margin-right: 10px;
            border-radius: 10px;

            > .invisiblecard, .visiblecard {
                width: 112px;
                height: 187px;
                overflow: hidden;
                background-image: url('/static/images/card_rub.jpg');
            }

            > .visiblecard {
                background-image: url('/static/images/Maumaucards.png');
            }

            > .invisiblecard {
                // TODO add back of card image
                // background-image: url('../images/cardback.png');
            }
        }
    }
}
